body{
    font-family: ;
    background-color: #297373;
    /*xd*/
    background-image: url();
    background-size:cover;
    /*que la imagen de fondo cubra todo por completo*/

    #seleccionar-mascota{

        display:flex;
        /*va a ser como un bloque o una linea*/

        flex-direction:column;

        justify-content: center;
        align-items:center;
        /*que todo vaya centrado*/



    }
     /*id se abre con numeral, class conn punto*/
    .title{
        color: #280003;
        font-size: 32px;
        font-family:;
    }

    .subtitulo{
        color:#280003;
        font-size: 32px;;
    }
   
    .tarjetas{
        display:flex;
        gap:10px;
    }

    .tarjeta-pokemon{
        width: 200px;
        height:100px;
        background-color: #F4E76E;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 20px;
        display:flex;
        justify-content: center;
        align-items: center;
        color:#280003;
        font-family: 'Franklin Gothic Medium';
        
    }

    .tarjeta-pokemon img{
        width: 80px;



    }

    #boton-pokemon{

        width: 180px;
        height:40px;
        border-radius: 20px;
        background: transparent;
        border: 2px solid white;
        color: white;
        font-family: ;
        margin-top: 30;
        
    }

    imput{
        display: none;

    }

    #Seleccionar-ataque{

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boton-de-ataque{
        background-color:white ;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 20px;
        border-color: transparent;
        width: 180px;
        color: rgb(0, 0, 0);
        font-family: ;
        

    }

    #boton-reiniciar{
        width: 180px;
        height: 40px;
        border-radius: 20px;
        background: transparent;
        border: 2px solid white;
        color: white;
        font-family: ;
        margin-top: 3opx;

    }
}